<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
  </head>
  <body>
    <div class="chat-container">
      <div class="message-input-container">
        <form action="/chat-room">
          <input
            type="text"
            name="message"
            id="message"
            placeholder="Add a message..."
          />
          <button type="submit">></button>
        </form>
      </div>
    </div>
  </body>
</html>
