<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="/chat.css" />
  </head>
  <body>
    <div class="chat-container">
      <header>
        <h1>Welcome Back <%= user.username %></h1>
        <a href="/log-out">LOG OUT</a>
      </header>
      <main class="message-container" id="messageContainer">
        <% messages.forEach(message => { %>
        <div class="message">
          <p>
            <strong class="username">Anonymous:</strong> <%= message.message %>
          </p>
        </div>
        <% }) %>
      </main>
      <footer>
        <form action="/chat-room" method="POST" class="input-form">
          <input
            type="text"
            hidden
            value="<%- user.username %>"
            name="username"
          />
          <input
            type="text"
            name="message"
            id="message"
            required
            placeholder="Add a message..."
          />
          <button type="submit">></button>
        </form>
      </footer>
    </div>
    <script>
      function scrollToBottom() {
        const messageContainer = document.getElementById("messageContainer");
        messageContainer.scrollTop = messageContainer.scrollHeight;
      }
      window.onload = scrollToBottom;

      const observer = new MutationObserver(scrollToBottom);
      observer.observe(document.getElementById("messageContainer"), {
        childList: true,
      });
    </script>
  </body>
</html>
