<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Chat | Chatter</title>
    <link rel="shortcut icon" href="/icons/chat.png" type="image/x-icon" />
    <link rel="stylesheet" href="/chat.css" />
    <style>
      #message::placeholder {
        color: #ddd;
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <div class="chat-container">
      <header>
        <h1>Chat Room</h1>
        <a href="/log-out">LOG OUT</a>
      </header>
      <div class="small-container">
        <main class="message-container" id="messageContainer">
          <% messages.forEach(message => { %>
          <div
            class="message <%= message.profile_color%>"
            style="border-left: 4px solid <%= message.profile_color %>"
          >
            <p class="user-name-container">
              <strong
                class="username"
                style="color: <%= message.profile_color %>"
              >
                Anonymous:
              </strong>
            </p>

            <p class="chat-msg-container"><%= message.message %></p>
          </div>
          <% }) %>
        </main>
        <footer>
          <form action="/chat-room" method="POST" class="input-form">
            <input
              type="text"
              name="message"
              id="message"
              required
              placeholder="You need to become a member to start chatting"
              disabled
              style="
                padding: 10px;
                font-size: 14px;
                color: white;
                border-radius: 4px;
                width: 250px;
                opacity: 1;
                background-color: #333;
              "
            />

            <button
              type="submit"
              class="changecolor"
              disabled
              style="
                padding: 10px 15px;
                background-color: #ccc;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: not-allowed;
                pointer-events: none;
              "
            >
              Send
            </button>
          </form>
        </footer>
      </div>
    </div>
    <script>
      function scrollToBottom() {
        const messageContainer = document.getElementById("messageContainer");
        messageContainer.scrollTop = messageContainer.scrollHeight;
      }

      window.onload = scrollToBottom;

      const observer = new MutationObserver(scrollToBottom);
      observer.observe(document.getElementById("messageContainer"), {
        childList: true,
      });
    </script>
  </body>
</html>
