body {
  display: flex;
  justify-content: center;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  height: 32px;
}

label {
  padding-top: 12px;
}

button {
  padding: 12px 0px;
  margin: 12px 0px;
}

button:hover {
  cursor: pointer;
}
